.footer{
    background-color: #020617;
    padding: 30px 20px;
    color: #e5e7eb;
}

.footer-container{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.footer-name{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #38bdf8;
    font-weight: bold;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.footer-links a{
    color: #950808;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.footer-links a:hover{
    color: #38bdf8;
}

.footer-copy{
    font-size: 0.85rem;
    color: #94a3b8;
}

@media (max-width: 768px) {
    .footer-container{
        text-align: center;
    }
}