.hero {
  position: relative;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;

  background-image: url("../assets/asteroids-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(2, 6, 23, 0.75);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.hero h1 span {
  color: #38bdf8;
}

.hero h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #cbd5f5;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1rem;
  color: #e5e7eb;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    transition: transform 0.2s ease, background 0.2s ease;
}

.btn.primary {
    background-color: #38bdf8;
    color: #020617;
}

.btn.primary:hover {
    background-color: #0ea5e9;
    color: #020617;
    transform: translateY(-2px);
}

.btn.secondary {
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

.btn.secondary:hover {
    background-color: #38bdf8;
    color: #020617;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.4rem;
  }

  .hero p {
    font-size: 1.1rem;
  }
}