.navbar {
    width: 100%;
    background-color: #020617;
    padding: 15px 30px;
}

.nav-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: #38bdf8;
}

.menu-toggle {
    display: block;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-links {
    display: none;
    list-style: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: #020617;
    flex-direction: column;
    text-align: center;
}

.nav-links li {
    padding: 15px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #38bdf8;
}

.nav-links.active {
    display: flex;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 25px;
        width: auto;
    }

    .nav-links li {
        padding: 0;
    }
}